.widgetsm{
    flex: 1;
    -webkit-box-shadow: -1px 1px 7px 4px rgb(102 178 255); 
box-shadow: -1px 1px 7px 4px rgb(102 178 255);
padding: 20px;
margin-right: 20px;
border-radius: 10px;
}
.widgetsmTitle{
    font-size: 22px;
    font-weight: 600;
    color: white;
}
.widgetsmImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.widgetsmList{
    margin: 0;
    padding: 0;
    list-style: none;
}
.widgetsmListItem{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0px;
}
.widgetSmUser{
    display: flex;
    flex-direction: column;
}
.widgetSmUsername{
    font-weight: 600;
    color: white;
}
.widgetSmButton{
    display: flex;
    align-items: center;
    border: none;
    border-radius: 10px;
    padding: 7px 10px;
    background-color: #eeeef7;
    color: #555;
    cursor: pointer;
}
.widgetSmIcon{
    font-size: 16px;
    margin-right: 5px;
}