.locationView{
    flex: 5;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,black 100%),url("../../../../Assets/pic18.jpg");
    background-size: 1300px 694px;
}
.locationContainer{
    margin: 20px 0px 0px 150px;
    padding: 10px;
}
.locationTitle{
    margin-top: 10px;
    font-size: 28px;
}
.locationDetailsView{
    -webkit-box-shadow: -1px 1px 7px 4px rgba(0,0,0,0.45); 
box-shadow: -1px 1px 7px 4px rgba(0,0,0,0.45);
    border-radius: 10px;
    margin-top: 43px;
    height:370px;
    width: 88%;
    background-color: rgba(255, 255, 255, 0.747) ; 
    
}
.locationTitleWrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.locationButtonWrapper{
    margin-right: 130px;
}
.locationButton{
    border: none;
    background-color: rgb(2, 82, 163);
    color: white;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
}
.locationButton:hover{
    border: none;
    background-color: white;
    color: rgb(2, 58, 114);
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
}
.locationListDelete{
    color: red;
    cursor: pointer;
}
.locationTitle{
    color: white;
}