.PackagerReportTransactionsChart{
    width: 90%;
    height: 350px;
    margin-top: 60px;
    margin-left: -100px;
    padding: 20px;
    -webkit-box-shadow: -1px 1px 7px 4px rgba(0,0,0,0.45); 
box-shadow: -1px 1px 7px 4px rgba(0,0,0,0.45);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.24) ; 
}
.PackagerReportTransactionsChartTitle{
    color: white;
    padding-bottom: 20px;
}