.changePassword{
    flex: 5;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,black 100%),url("../../../../Assets/pic5.jpg");
    background-size: 1300px 694px;
}
.changePasswordContainer{
    margin: 130px 180px;
    padding: 20px;
    -webkit-box-shadow: -1px 1px 7px 4px rgba(0,0,0,0.45); 
box-shadow: -1px 1px 7px 4px rgba(0,0,0,0.45);
    width: 50%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.747) ;
}
.changePasswordTitle{
    padding: 10px;
    text-align: center;
}
.changePasswordRow{
    display: flex;
    margin-top: 20px;
    align-items: center;
}
.changePasswordLabel{
    font-size: 15px;
    text-align: right;
    width: 168px;
    margin-right: 20px;
}
.changePasswordBoxElement{
    width: 250px;
    height: 25px;
    border-radius: 4px;
    border: 1px solid gray;
}
.changePasswordSubmitButton{
    border: none;
    background-color: #3bb077; 
    color: white;
    width: 80px;
    height: 35px;
    padding: 7px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    margin-left: 30px;
    margin-bottom: 10px;
}
.changePasswordSubmitButton:hover{
    border: none;
    background-color: white; 
    color: #3bb077;
    width: 80px;
    height: 35px;
    padding: 7px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    margin-left: 30px;
    margin-bottom: 10px;

}
.changePasswordCancelButton{
    border: none;
    background-color: #d95087; 
    color: white;
    width: 80px;
    height: 35px;
    padding: 7px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    margin-left: 30px;
    margin-bottom: 10px;
}
.changePasswordCancelButton:hover{
    border: none;
    background-color: white; 
    color: #d95087;
    width: 80px;
    height: 35px;
    padding: 7px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    margin-left: 30px;
    margin-bottom: 10px;
}