.bookingsView{
    flex: 5;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,black 100%),url("../../../../Assets/pic15.jpg");
    background-size: 1300px 694px;
}
.bookingsContainer{
    margin: 20px 0px 0px 150px;
    padding: 10px;
}
.bookingsTitle{
    margin-top: 10px;
    font-size: 28px;
    color: white;
}
.bookingsDetailsView{
    -webkit-box-shadow: -1px 1px 7px 4px rgba(0,0,0,0.45); 
box-shadow: -1px 1px 7px 4px rgba(0,0,0,0.45);
    border-radius: 10px;
    margin-top: 43px;
    height:423px;
    width: 93%;
    background-color: rgba(255, 255, 255, 0.747) ;   
}
.bookingsTitleWrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
