.featured{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.featuredItem{
    width: 250px;
    margin: 0px 20px;
    padding: 30px;
    border-radius: 5px;
    cursor: pointer;
    -webkit-box-shadow: -1px 1px 7px 4px rgb(102 178 255); 
box-shadow: -1px 1px 7px 4px rgb(102 178 255);
background-color: rgb(2, 58, 114);
}
.featureTitle{
    font-size: 25px;
    color: white;
}
.featuredMoneyContainer{
    margin: 10px 0px;
    display: flex;
    align-items: center;
}
.featuredMoney{
    font-size: 30px;
    font-weight: 600;
    color: white;
}
.featuredMoneyRate{
    display: flex;
    align-items: center;
    margin-left: 20px;
    color: white;
}
.featuredIconDown{
    font-size: 20px;
    margin-left: 5px;
    color: red;
}
.featuredIconUp{
    font-size: 20px;
    margin-left: 5px;
    color: rgb(13, 211, 13);
}
.featuredSub{
    font-size: 15px;
    color: rgb(211 207 207);
}
.topbarIconSymbol{
    color: rgb(211 207 207) !important;
}